/*	Plantilla: MyBlog 2009 
  *	modelo: Pao
  *	Autor: Carlos Azaustre
  *	email: cazaustre@gmail.com
  *	url:	http://www.carlosazaustre.es
  */

/* Elementos principales de la página */  
body
{
	font-family: Tahoma, Helvetica, Verdana;
	font-size: 10pt;
	background: url(../pics/fondo.png) repeat;
}

h1
{
	padding: 30px 10px 30px 10px;
	margin: 0;
	background: url(../pics/fondo_cabecera.png);
	text-indent: -9999px;
}

h2
{
	font-family: helvetica;
	font-size: 12pt;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

h3
{
	font-family: helvetica;
	font-size: 11pt;
	font-weight: bold;
	color: #696969;
	padding: 0;
	margin: 5px 0 0 0px;
}

h3.section
{
	font-family: helvetica;
	font-size: 9pt;
	font-weight: bold;
	color: #000000;
	border-top: 1px #CC0033 solid;
	border-left: 1px #CC0033 solid;
	border-right: 1px #CC0033 solid;
	margin: 15px 15px 0px 15px;
	padding: 5px 10px 5px 10px;
	background-color: #FF6699;
}

hr
{
	height: 1px;
	border: 0 dotted;
	color: #969696;
	background-color: #969696;
	width: 95%;
}

a
{
	color: #0066CC;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

img
{
	padding: 0 2px 0 2px;
	margin: 0;
	border-style: none;
	vertical-align: middle;
}

label, input
{
	display: block;
	padding: 2px;
}

input.noblock
{
	display: inline;
}

fieldset
{
	border-style: none;
	border-bottom: 1px #C0C0C0 solid;
	border-top: 1px #C0C0C0 solid;
}

li
{
	padding: 2px;
}

p.center
{
	text-align: center;
	margin: 5px;
	padding: 0;	
}

/* Contenedor principal de la página */
#container
{
	margin: 0 auto;
	width: 750px;
	border: 1px #E0DFDF solid;
	background-color: #FFFFFF;
}

/* Cabecera */
#header
{
	width: 750px;
	margin: 0;
	padding: 0;
	border-bottom: 1px #CC0033 solid;
}

#header ul
{
	list-style: none;
	margin: 0;
	padding: 5px;
	background-color: #FF6699;
	border-top: 1px #CC0033 solid;
}

#header li
{
	display: inline;
	margin-right: 5px;
	margin-left: 0px;
}

#header a
{
	font-weight: bold;
	color: #8B0000;
	text-decoration: none;
	padding: 5px;
}

#header a:hover
{
	color: #FFFFFF;
	background-color: #B82800;
}

/* Barra lateral */
#sidebar
{
	width: 200px;
	height: 1400px;
	float: right;
}

/* Contenido principal */
#main
{
	width: 540px;
	float: left;
}

#main table
{
	width: 100%;
}

#main th
{
	text-align: left;
	background-color: #FF6699;
	border: 1px #B22222 solid;
	padding: 2px 2px 2px 5px;
}

#main td
{
	border-bottom: 1px #696969 dotted;
	padding: 2px;
	margin: 1px;
}

#main div
{
	margin: 15px 20px 15px 20px;
	padding-bottom: 10px;
}

/* Pie de página */
#footer
{
	font-size: 8pt;
	color: #444444;
	background-color: #FF6699;
	padding: 5px 10px 5px 10px;
	border-top: 1px #E0DFDF solid;
	clear: both;
}

#footer a
{
	color: #800000;
}

/* Post del blog */
div.post
{
	margin: 15px 20px 15px 20px;
	padding-bottom: 10px;
	border-bottom: 1px #CC0033 dotted;
}

div.post img.comentario
{
	padding: 2px;
	margin: 2px;
	margin-right: 5px;
	border: 1px #DDDDDD solid;
	vertical-align: top;
}

div.module
{
	border: 1px #CC0033 solid;
	margin: 0 15px 15px 15px;
	padding-bottom: 10px;
	padding-top: 5px;
	background-color: #FFFFFF;
	font-size: 8pt;
}

div.module ul
{
	list-style: none;
	margin: 5px;
	padding: 0;
}

div.module li
{
	border-bottom: 1px #B22222 dotted;
	border-left: 3px #FF3366 solid;
	margin: 0 10px 5px 5px;
	padding-left: 5px;
}

div.module li:hover
{
	background-color: #FFF0F4;
	border-left: 3px #B82800 solid;
	border-bottom: 1px #B22222 solid;
}

ul.perfil li, ul.perfil li:hover
{
	background-color: #FFFFFF;
	border: 0;
	padding: 0;
	margin: 0 5px 5px 5px;
	border-bottom: 1px #C0C0C0 dotted;
}

.fecha
{
	font-family: helvetica;
	font-size: 8pt;
	color: #A4A4A4;
}

.postbottom
{
	font-family: helvetica;
	font-size: 8pt;
}

.paginacion
{
	font-family: helvetica;
	font-size: 8pt;
	text-align: center;
	padding: 8px;
	margin: 2px;
	border: 1px #CCCCCC solid;
}

.paginacion a
{
	border: 1px #CCCCCC solid;
	padding: 2px;
}

.mensaje
{
	display: block;
	border: 1px #FFD700 solid;
	background: #FFFACD;
	margin: 0 auto;
	padding: 8px;
	text-align: center;
}

.derecha
{
	text-align: right;
}